#byteView span {
  font-family: RobotoMono, monospace;
}

#byteViewParent {
  border-spacing: var(--font-size) 0;
  overflow-x: hidden;
  overflow-y: visible;
  max-height: 100%;
  margin-bottom: calc(var(--font-size) * 3);
}

#byteView span::-moz-selection,
#byteView span::selection {
  background-color: var(--color1);
}

#byteView span:hover,
#byteView span.selection {
  background-color: var(--color) !important;
}
