#scrollBar {
  width: 16px;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--foreground);
}

#scrollThumb {
  position: absolute;
  height: 16px;
  width: 16px;
  border: none 0px;
  border-radius: 50%;
  background-color: var(--accent);
}
